#tableLabel {
    background-color: #AAA;
    border:1px solid;
    padding: 5px;
    width:250px;
    display:block;
    text-align:center;
}

#tableInserts {
    width:260px;
    text-align:center;
    border:1px dashed;
}

#tableInserts td {
    border-color:#AAA;
    padding:10px;
    border: 5px groove;
}