/** GENERAL CSS **/
body {
    background: url('./../images/Main_1.jpg');
    font-family: arial, sans-serif;
    font-size: 10px;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    color: rgb(194, 109, 0);
}

h2 {
    font-size: 14px;
    color: rgb(226, 154, 0);
}

h3 {
    font-size: 10px;
}

.separation_1 {
    background-color: #AAA;
    height: 5px;
    border: 1px solid #888888;
}