/** HEADER **/
#header, #footer {
    background: url(https://addons.cdn.mozilla.net/_files/111012/preview_small.jpg) repeat;
}
#header #mainTitle {
    font: 30px verdana;
    color: #D10;
    text-align:center;
}

#content {
    color: #F00;
}