
/** HEADER **/
#header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid #666666;
    background-color: #333;
    padding-bottom: 15px;
}

#header #headerMenu {
    overflow: hidden;
}

#header #testingBox {
    position: absolute;
    margin-top: 15px;
    margin-left: 18px;
    width: 8%;
    display: none;
}
#header #testingBox ul {
    list-style-type: none;
    text-align: center;
    background-color: #EEE;
    border-radius: 10px;
    padding: 5px;
}
#header #testingBox li {
    background-color: #AAA;
    border-radius: 10px;
    margin: 2px 0;
}
#header #testingBox li:hover {
    background-color: #FFF;
}
#header #testingBox li a{
    color: #444444;
    text-decoration: none;
    display: block;
}

#header .headerButton {
    float: left;
    width: 10%;
    background-color: #DDD;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
}

#header .headerButton a {
    display: block;
    text-decoration: none;
    font: bold 12px Arial;
    color: #000;
}

#header .headerButton:hover {
    background-color: #FFF;
}

#header .headerButton a:hover {
    color: #333;
}

#header #mainTitle {
    font: 30px verdana;
    color: #E62;
    text-align: center;
}

/** CONTENT CSS */
#content {
    padding: 25px;
    background: white;
}

/** FOOTER CSS */
#footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid #666666;
    background-color: #333;

    text-align: right;
    padding-right: 60px;

    font-size: 12px;
    color: rgb(226, 154, 0);
}